@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
    font-family: "Source Sans Pro", sans-serif;
	font-size:1.1rem;
	line-height: 1.9rem;
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
	max-width:620px;
	margin: 0 auto;
	color: #141414;
	padding: 0 1rem;
}

p {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 20px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


a {
  text-decoration: none;
  color: #14B9D6
}

img {
    max-width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
  padding: 0;
  line-height: 1.75rem;
  font-style: normal;
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}

blockquote {
    border-left: 4px solid rgb(228, 228, 228);
    margin-left: 1em;
    padding-left: 1em;
}

blockquote p {
	font-style: italic;
}

/* HEADER */
.blog-header {
  width: 100%;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.blog-header .blog-title {
    margin: 0;
    padding: 32px 16px 8px;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #141414; 
}
	
.blog-header .blog-title a {
   	text-decoration: none;
	color: #000000; 
}

.blog-header .blog-title a:hover {
      color: #14B9D6; 
}

.blog-header .blog-description {
    margin: 0 0 20px;
    padding: 0 32px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #666666;
    text-align: center;
    font-weight: 400; 
}

.blog-header .custom-links {
    margin: 0 0 50px;
    text-align: center;
    color: #cccccc; 
}

.blog-header .custom-links a {
      text-decoration: none;
      color: #999999; 
}

.blog-header .custom-links a:hover {
        color: #14B9D6; 
}

/* HOME */

.homepage .day .daybreak {
    margin-top: 3em;
    border: 0;
    color: rgb(228, 228, 228);
  	background-color: rgb(228, 228, 228);
  	height: 0.15em;
}

.homepage .postHeader {
    margin-top: 3em;
    margin-bottom: 2em;
}

.homepage .postHeader:nth-of-type(1) {
  margin-top: 2em;
}

.homepage .postHeader .postTitle {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 1.2;
}

.linkPost:after {
	color:#141414;
	content: " ↳";
}

body pre {
  line-height: 1.0;
}

.homepage .article th {
    padding: 0 0.5em 0 0.5em
}

.homepage .article td {
    padding: 0 0.5em 0 0.5em;
}

.homepage .paginationFooter {
    width: 100%;
    margin-top: 1em;
}

.homepage .paginationFooterPrevious {
    display: inline;
}

.homepage .paginationFooterNext {
    display: inline;
    float: right;
}

.homepage .postHeader .postDate {
    font-size: 0.9em;
    display: block;
}

.homepage .day .article {
    margin-bottom: 2em;
}

.homepage .copyright {
    margin-top: -2em;
}

.daybreak {
	visibility: hidden;
}

/* POSTS */

.postTitle {
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    display: block;
    font-size: 1.8rem;
    line-height: 1.1;
    margin-bottom: 10px;
}

a.postTitle {
  display: block;
}

.article {
	padding-top:2rem;
	padding-bottom:2rem;
	border: 0; border-bottom: 1px solid #ccc;
}

.post .postHeader
{
    text-align: center;
    margin-bottom: 3em;
}

.post .postHeader .postTitle {
    margin-top: 1em;
    font-size: 2em;
    text-decoration: none;
}

.postHeader .postPermalink img {
  width: 1.5em;
  height: 1.5em;
  top: 5px; 
  position: relative;
}

.post .postHeader .postDate {
    display: block;
    font-size: 0.9em;
}

.postMeta {
	font-size:0.9rem;
	padding-bottom:20px;
	color: #888888;
}

section.footnotes {
  font-size: 0.8em;
}

.post .postHeader .postTitle:visited {
    color: black;
}

.post hr {
    width: 35%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.homepage .article hr.footnotes-sep  {
  width: 50%;	
  border-top: 1px solid #555
}

.post hr.footnotes-sep {
  width: 70%;
  border-top: 1px solid #555
}

/* Footer*/

.footer {
	margin-top:2rem;
	text-align:center;
	font-size:0.9rem;
	color: #888888;
}

.nextPage {
	float:right;
}

.copyright {
    font-size: 0.6em;
    text-align: center;
}

/* iPad */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) {

}

/* iPhone */
@media all and (max-width: 568px) {
	.postTitle {
		font-size:1.3rem;
	}
	
	body {
		font-size:0.875rem;
		line-height:1.4rem;
	}
    .container {
        margin-left:auto;
        margin-right:auto;
    }

    .homepage a.postTitle {
        font-size: 2em !important;
    }

    .center img.wide {
      width: 120% !important;
      max-width: 120% !important;
    }

    .center img.left, .center img.right{
      margin: 0;
    }
}