		<div class="footer">
			All content copyright martinhartl.org © 2014 - 2015 • All rights reserved.
			</br>
			Built with <a href="http://www.caseyliss.com">Casey Liss's</a> <a href="https://github.com/cliss/camel">Camel</a> 🐪
		</div>

		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="//mhaddl2.alpheca.uberspace.de/piwik/";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', 1]);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="//mhaddl2.alpheca.uberspace.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->
	</body>
</html>
